<!-- START NAVBAR -->
<header>
    <a href="#" class="logo">
        <i><img src="./assets/imgs/ALumni_Logo_Light_Large 3.png" alt="Alumni"></i>
    </a>

    <ul class="navbar">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Acceso</a></li>
        <li><a href="https://www.youtube.com/watch?v=0t5x8UA_260">Video</a></li>
        <li><a href="#">Funciones</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>

    <div class="nav__toggle" id="menu-icon">
        <i class="fa-solid fa-bars nav__burger"></i>
    </div>
</header>

<!-- START HOME -->
<section id="home" class="home_bg">
    <div class="container">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="hero-text">
                <h2>Seguimiento a Graduados</h2>
                <p>Trayectorias brillantes después de la graduación: Acompañamos a nuestros graduados en cada paso
                    del camino. descubre
                    cómo nuestro riguroso seguimiento a graduados abre puertas a oportunidades profesionales y
                    contribuye al éxito duradero
                    de nuestra comunidad educativa.</p>
                <div class="home_btn">
                    <a href="#Video" class="app-btn wow bounceIn page-scroll" data-wow-delay=".8s"><i
                            class="fa fa-play"></i> Ver Más Información</a>
                </div>
            </div>
        </div><!--- END COL -->
    </div><!--- END CONTAINER -->
</section>
<!-- END  HOME -->

<!-- INGRESO A LA PLATAFORMA -->
<section id="Acceso" class="our_pricing section-padding">
    <div class="container">
        <div class="row">
            <div class="section-title text-center wow zoomIn">
                <h2>INGRESO A LA PLATAFORMA</h2>
                <p>"Accede a nuestra plataforma y disfruta de todos nuestros servicios"</p>
            </div>

            <!-- Start Features -->
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                            <div class="feature feature-transition bg-light p-4 py-5 shadow rounded text-center">
                                
                                <!-- <ng-lottie [options]="options"></ng-lottie> -->
                                
                                <h5 class="title mt-3">Alumni</h5>
                                <p class="text-muted">It is a long established fact that a reader will be of a page
                                    reader will be
                                    of a page when looking at its layout. </p>
                                <a [routerLink]="['/account/login']" routerLinkActive="router-link-active" class="text-dark">-- Acceder --<i
                                        class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                            <div class="feature feature-transition p-4 py-5 shadow rounded text-center">
                                <img src="cdn/images/charity/donation.svg" class="avatar avatar-small" alt="">
                                <h5 class="title mt-3">Administrador</h5>
                                <p class="text-muted">It is a long established fact that a reader will be of a page when
                                    reader will
                                    be of a page looking at its layout. </p>
                                <a [routerLink]="['/account/login']" routerLinkActive="router-link-active" class="text-dark">-- Acceder --<i
                                        class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                            <div class="feature feature-transition bg-light p-4 py-5 shadow rounded text-center">
                                <img src="cdn/images/charity/heart.svg" class="avatar avatar-small" alt="">
                                <h5 class="title mt-3">Empresario o Empleador</h5>
                                <p class="text-muted">It is a long established fact that a reader will be of a page when
                                    reader will
                                    be of a page looking at its layout. </p>
                                <a [routerLink]="['/account/login']" routerLinkActive="router-link-active" class="text-dark">-- Acceder --<i
                                        class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end conatiner-->
            </section><!--end section-->
            <!-- End Features -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END INGRESO A LA PLATAFORMA -->

<!-- START VIDEO ALUMNI -->
<section class="about_video" id="Video">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="video-container">
                    <h3>¡SE PARTE DE ALUMNI!</h3>
                    <p>Descubre las Mejores Ofertas Académicas en el Instituto Superior Universitario Tecnológico
                        del Azuay</p>

                </div>
                <!-- VIDEO POPUP -->
                <div class="play-video-icon">
                    <a href="https://www.youtube.com/watch?v=0t5x8UA_260" data-autoplay="true" data-vbtype="video"
                        class="video-popup vide_btn ">
                        <i class="fa fa-play"></i>
                        <div class="sonar-wrapper">
                            <div class="sonar-emitter">
                                <div class="sonar-wave"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- END VIDEO POPUP -->
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END VIDEO ALUMNI -->

<!-- Servicios de Alumni -->
<section id="Acceso" class="section-padding">
    <div class="serviceArea StartUpTwo">
        <div class="container">
            <div class="section-title text-center wow zoomIn">
                <h2>FUNCIONES DE ALUMNI</h2>
                <p>"Construyendo puentes entre generaciones: El propósito de las funciones de Alumni"</p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="singleService">
                        <div class="serviceHead">
                            <div class="serviceIcon">
                                <i class="fa-sharp fa-solid fa-users"></i>
                            </div>
                            <h2>COMUNIDAD DE ESTUDIANTES</h2>
                        </div>
                        <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est
                            etiam processus dynamicus,</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="singleService">
                        <div class="serviceHead">
                            <div class="serviceIcon">
                                <i class="fa-solid fa-person-walking-luggage"></i>
                            </div>
                            <h2>SEGUIMIENTO</h2>
                        </div>
                        <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est
                            etiam processus dynamicus,</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="singleService">
                        <div class="serviceHead">
                            <div class="serviceIcon">
                                <i class="fa-solid fa-square-up-right"></i>
                            </div>
                            <h2>COMPARTE TU LOGROS</h2>
                        </div>
                        <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est
                            etiam processus dynamicus,</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="singleService">
                        <div class="serviceHead">
                            <div class="serviceIcon">
                                <i class="fa-solid fa-briefcase"></i>
                            </div>
                            <h2>BOLSA DE EMPLEO</h2>
                        </div>
                        <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est
                            etiam processus dynamicus,</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="singleService">
                        <div class="serviceHead">
                            <div class="serviceIcon">
                                <i class="fa-solid fa-bell-concierge"></i>
                            </div>
                            <h2>SERVICIOS Y BENEFICIOS</h2>
                        </div>
                        <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est
                            etiam processus dynamicus,</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="singleService">
                        <div class="serviceHead">
                            <div class="serviceIcon">
                                <i class="fa-solid fa-database"></i>
                            </div>
                            <h2>REPORTE DE DATOS</h2>
                        </div>
                        <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est
                            etiam processus dynamicus,</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END FUNCIONES ALUMNI -->

<!-- START CONTACT FORM -->
<section id="Contacto" class="contact_area section-padding">
    <div class="container">
        <div class="row">
            <div class="section-title text-center wow zoomIn">
                <h2>Contactate Con Nosotros</h2>
                <p>Si tienes alguna duda puedes comunicarte con el siguiente formulario.</p>
            </div>
            <div class="col-sm-8 col-xs-12">
                <form class="form" name="enq" method="post" action="contact.php" onsubmit="return validation();">
                    <div class="row">
                        <div class="input_padding text-center">
                            <div class="form-group col-md-12">
                                <input type="text" name="name" class="form-control" placeholder="Nombres y Apellidos"
                                    required="required">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="email" name="email" class="form-control" placeholder="Email"
                                    required="required">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" name="subject" class="form-control" placeholder="Titulo"
                                    required="required">
                            </div>
                            <div class="form-group col-md-12 mab-none">
                                <textarea rows="6" name="message" class="form-control" placeholder="Escriba su mensaje"
                                    required="required"></textarea>
                            </div>
                            <div class="form-group mb0 col-md-12">
                                <div class="actions">
                                    <button type="submit" value="Send message" name="submit" id="submitButton"
                                        class="btn btn-default contact_btn" title="Enviar Mensaje!">Enviar
                                        Mensaje</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- END COL -->

            <div class="col-sm-4">
                <div class="single_address">
                    <i class="fa-solid fa-location-dot"></i>
                    <h4>Dirección</h4>
                    <p>Octavio Chacón Moscoso 1-98 y Primera Transversal (Parque industrial)</p>
                </div>
                <div class="single_address">
                    <i class="fa-solid fa-envelope"></i>
                    <h4>Envianos un Correo</h4>
                    <p>info&#64;tecazuay.edu.ec</p>
                </div>
                <div class="single_address">
                    <i class="fa-solid fa-phone"></i>
                    <h4>Telefono</h4>
                    <p>07 2809 551 - 0995363076</p>
                </div>
            </div>
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END CONTACT FORM  -->

<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15939.279807575842!2d-78.97972230266978!3d-2.8682734537328134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd1781c898f975%3A0xfd4a76bc986f8990!2sTec%20Azuay%20INSTITUTO%20UNIVERSITARIO!5e0!3m2!1ses!2sec!4v1705278797180!5m2!1ses!2sec"
    width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>

<!-- Start footer -->
<footer class="footer_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer_text text-center">
                    <div><a href="#"><img src="assets/imgs/Alumni_logo_mini.png" alt="logo"></a></div>

                    <ul class="fot_menu">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Politicas De Privacidad</a></li>
                        <li><a href="#">Terminos y Condiciones</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                    <p>&copy; 2024 ALUMNI - Todos Los Derechos Reservados.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->