/* Steve: Mejorar version - V: 0.0.2 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Hind:300,400,500,600,700|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Libre+Barcode+39+Extended+Text|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

.bg-transparent {
    background-color: transparent
}

.bg-gray-100 {
    background-color: #f2f2f7
}

.bg-gray-200 {
    background-color: #e2e5e8
}

.bg-gray-300 {
    background-color: #dee2e6
}

.bg-gray-400 {
    background-color: #ced4da
}

.bg-gray-500 {
    background-color: #adb5bd
}

.bg-gray-600 {
    background-color: #868e96
}

.bg-gray-700 {
    background-color: #495057
}

.bg-gray-800 {
    background-color: #343a40
}

.bg-gray-900 {
    background-color: #212529
}

.bg-white-1 {
    background-color: rgba(255, 255, 255, 0.1)
}

.bg-white-2 {
    background-color: rgba(255, 255, 255, 0.2)
}

.bg-white-3 {
    background-color: rgba(255, 255, 255, 0.3)
}

.bg-white-4 {
    background-color: rgba(255, 255, 255, 0.4)
}

.bg-white-5 {
    background-color: rgba(255, 255, 255, 0.5)
}

.bg-white-6 {
    background-color: rgba(255, 255, 255, 0.6)
}

.bg-white-7 {
    background-color: rgba(255, 255, 255, 0.7)
}

.bg-white-8 {
    background-color: rgba(255, 255, 255, 0.8)
}

.bg-white-9 {
    background-color: rgba(255, 255, 255, 0.9)
}

.bg-black-1 {
    background-color: rgba(0, 0, 0, 0.1)
}

.bg-black-2 {
    background-color: rgba(0, 0, 0, 0.2)
}

.bg-black-3 {
    background-color: rgba(0, 0, 0, 0.3)
}

.bg-black-4 {
    background-color: rgba(0, 0, 0, 0.4)
}

.bg-black-5 {
    background-color: rgba(0, 0, 0, 0.5)
}

.bg-black-6 {
    background-color: rgba(0, 0, 0, 0.6)
}

.bg-black-7 {
    background-color: rgba(0, 0, 0, 0.7)
}

.bg-black-8 {
    background-color: rgba(0, 0, 0, 0.8)
}

.bg-black-9 {
    background-color: rgba(0, 0, 0, 0.9)
}

.bg-indigo {
    background-color: #6610f2;
    border: 0
}

.bg-purple {
    background: #ff6ec4;
    border: 0
}

.bg-pink {
    background-color: #e83e8c;
    border: 0
}

.bg-orange {
    background-color: #f27510;
    border: 0
}

.bg-info {
    background: #4285f4 !important;
    border: 0
}

.bg-teal {
    background: #17a2b8 !important;
    border: 0
}

.bg-br-primary {
    background: #ffd86f !important;
    border: 0
}

.bg-lightsky {
    background-color: #e4f2f2;
    border: 0
}

.bg-teal-info {
    background-image: linear-gradient(to right, #00b297 0, #4285f4 100%);
    background-repeat: repeat-x;
    border: 0
}

.bd-transparent {
    border-color: transparent !important
}

.bd {
    border: 1px solid rgba(0, 0, 0, 0.05)
}

.bd-t {
    border-top: 1px solid rgba(0, 0, 0, 0.05)
}

.bd-r {
    border-right: 1px solid rgba(0, 0, 0, 0.05)
}

.bd-b {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.bd-l {
    border-left: 1px solid rgba(0, 0, 0, 0.05)
}

.bd-y {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.bd-x {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05)
}

.bd-0 {
    border-width: 0
}

.bd-1 {
    border-width: 1px
}

.bd-2 {
    border-width: 2px
}

.bd-3 {
    border-width: 3px
}

.bd-4 {
    border-width: 4px
}

.bd-5 {
    border-width: 5px
}

.bd-t-0 {
    border-top: 0
}

.bd-r-0 {
    border-right: 0
}

.bd-b-0 {
    border-bottom: 0
}

.bd-l-0 {
    border-left: 0
}

.bd-t-0-force {
    border-top: 0 !important
}

.bd-r-0-force {
    border-right: 0 !important
}

.bd-b-0-force {
    border-bottom: 0 !important
}

.bd-l-0-force {
    border-left: 0 !important
}

.bd-y-0 {
    border-top-width: 0;
    border-bottom-width: 0
}

.bd-y-1 {
    border-top-width: 1px;
    border-bottom-width: 1px
}

.bd-x-0 {
    border-left-width: 0;
    border-right-width: 0
}

.bd-x-1 {
    border-left-width: 1px;
    border-right-width: 1px
}

.bd-primary {
    border-color: #0866c6
}

.bd-success {
    border-color: #23bf08
}

.bd-warning {
    border-color: #f49917 !important
}

.bd-danger {
    border-color: #dc3545 !important
}

.bd-info {
    border-color: #4285f4 !important
}

.bd-teal {
    border-color: #17a2b8 !important
}

.bd-white {
    border-color: #fff
}

.bd-br-primary {
    border-color: #1d2939
}

.bd-gray-100 {
    border-color: #f8f9fa
}

.bd-gray-200 {
    border-color: #e9ecef
}

.bd-gray-300 {
    border-color: #dee2e6
}

.bd-gray-400 {
    border-color: #ced4da
}

.bd-gray-500 {
    border-color: #adb5bd
}

.bd-gray-600 {
    border-color: #868e96
}

.bd-gray-700 {
    border-color: #495057
}

.bd-gray-800 {
    border-color: #343a40
}

.bd-gray-900 {
    border-color: #212529
}

.bd-white-1 {
    border-color: rgba(255, 255, 255, 0.1)
}

.bd-white-2 {
    border-color: rgba(255, 255, 255, 0.2)
}

.bd-white-3 {
    border-color: rgba(255, 255, 255, 0.3)
}

.bd-white-4 {
    border-color: rgba(255, 255, 255, 0.4)
}

.bd-white-5 {
    border-color: rgba(255, 255, 255, 0.5)
}

.bd-white-6 {
    border-color: rgba(255, 255, 255, 0.6)
}

.bd-white-7 {
    border-color: rgba(255, 255, 255, 0.7)
}

.bd-white-8 {
    border-color: rgba(255, 255, 255, 0.8)
}

.rounded-5 {
    border-radius: 5px
}

.rounded-10 {
    border-radius: 10px
}

.rounded-20 {
    border-radius: 20px
}

.rounded-30 {
    border-radius: 30px
}

.rounded-40 {
    border-radius: 40px
}

.rounded-50 {
    border-radius: 50px
}

.bd-dashed {
    border-style: dashed
}

.bd-dotted {
    border-style: dotted
}

@media(min-width:480px) {
    .bd-xs {
        border: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-xs-t {
        border-top: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-xs-r {
        border-right: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-xs-b {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-xs-l {
        border-left: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-xs-y {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-xs-x {
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        border-right: 1px solid rgba(0, 0, 0, 0.15)
    }
}

@media(min-width:576px) {
    .bd-sm {
        border: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-sm-t {
        border-top: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-sm-r {
        border-right: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-sm-b {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-sm-l {
        border-left: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-sm-y {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-sm-x {
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        border-right: 1px solid rgba(0, 0, 0, 0.15)
    }
}

@media(min-width:768px) {
    .bd-md {
        border: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-md-t {
        border-top: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-md-r {
        border-right: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-md-b {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-md-l {
        border-left: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-md-y {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-md-x {
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        border-right: 1px solid rgba(0, 0, 0, 0.15)
    }
}

@media(min-width:992px) {
    .bd-lg {
        border: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-lg-t {
        border-top: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-lg-r {
        border-right: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-lg-b {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-lg-l {
        border-left: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-lg-y {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-lg-x {
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        border-right: 1px solid rgba(0, 0, 0, 0.15)
    }
}

@media(min-width:1200px) {
    .bd-xl {
        border: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-xl-t {
        border-top: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-xl-r {
        border-right: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-xl-b {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-xl-l {
        border-left: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-xl-y {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15)
    }

    .bd-xl-x {
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        border-right: 1px solid rgba(0, 0, 0, 0.15)
    }
}

.ht-5 {
    height: 5px
}

.ht-5p {
    height: 5%
}

.mx-ht-5p {
    max-height: 5%
}

.mn-ht-5p {
    min-height: 5%
}

.ht-5-force {
    height: 5px !important
}

.ht-5p-force {
    height: 5% !important
}

.ht-10 {
    height: 10px
}

.ht-10p {
    height: 10%
}

.mx-ht-10p {
    max-height: 10%
}

.mn-ht-10p {
    min-height: 10%
}

.ht-10-force {
    height: 10px !important
}

.ht-10p-force {
    height: 10% !important
}

.ht-15 {
    height: 15px
}

.ht-15p {
    height: 15%
}

.mx-ht-15p {
    max-height: 15%
}

.mn-ht-15p {
    min-height: 15%
}

.ht-15-force {
    height: 15px !important
}

.ht-15p-force {
    height: 15% !important
}

.ht-20 {
    height: 20px
}

.ht-20p {
    height: 20%
}

.mx-ht-20p {
    max-height: 20%
}

.mn-ht-20p {
    min-height: 20%
}

.ht-20-force {
    height: 20px !important
}

.ht-20p-force {
    height: 20% !important
}

.ht-25 {
    height: 25px
}

.ht-25p {
    height: 25%
}

.mx-ht-25p {
    max-height: 25%
}

.mn-ht-25p {
    min-height: 25%
}

.ht-25-force {
    height: 25px !important
}

.ht-25p-force {
    height: 25% !important
}

.ht-30 {
    height: 30px
}

.ht-30p {
    height: 30%
}

.mx-ht-30p {
    max-height: 30%
}

.mn-ht-30p {
    min-height: 30%
}

.ht-30-force {
    height: 30px !important
}

.ht-30p-force {
    height: 30% !important
}

.ht-35 {
    height: 35px
}

.ht-35p {
    height: 35%
}

.mx-ht-35p {
    max-height: 35%
}

.mn-ht-35p {
    min-height: 35%
}

.ht-35-force {
    height: 35px !important
}

.ht-35p-force {
    height: 35% !important
}

.ht-40 {
    height: 40px
}

.ht-40p {
    height: 40%
}

.mx-ht-40p {
    max-height: 40%
}

.mn-ht-40p {
    min-height: 40%
}

.ht-40-force {
    height: 40px !important
}

.ht-40p-force {
    height: 40% !important
}

.ht-45 {
    height: 45px
}

.ht-45p {
    height: 45%
}

.mx-ht-45p {
    max-height: 45%
}

.mn-ht-45p {
    min-height: 45%
}

.ht-45-force {
    height: 45px !important
}

.ht-45p-force {
    height: 45% !important
}

.ht-50 {
    height: 50px
}

.ht-50p {
    height: 50%
}

.mx-ht-50p {
    max-height: 50%
}

.mn-ht-50p {
    min-height: 50%
}

.ht-50-force {
    height: 50px !important
}

.ht-50p-force {
    height: 50% !important
}

.ht-55 {
    height: 55px
}

.ht-55p {
    height: 55%
}

.mx-ht-55p {
    max-height: 55%
}

.mn-ht-55p {
    min-height: 55%
}

.ht-55-force {
    height: 55px !important
}

.ht-55p-force {
    height: 55% !important
}

.ht-60 {
    height: 60px
}

.ht-60p {
    height: 60%
}

.mx-ht-60p {
    max-height: 60%
}

.mn-ht-60p {
    min-height: 60%
}

.ht-60-force {
    height: 60px !important
}

a.tx-success:hover,
a.tx-success:focus {
    color: #1fa707
}

a.tx-warning:hover,
a.tx-warning:focus {
    color: #e78c0b
}

a.tx-danger:hover,
a.tx-danger:focus {
    color: #d32535
}

a.tx-info:hover,
a.tx-info:focus {
    color: #148ea1
}

a.hover-gray-700:hover,
a.hover-gray-700:focus {
    color: #495057
}

a.hover-primary:hover,
a.hover-primary:focus {
    color: #0866c6
}

a.hover-success:hover,
a.hover-success:focus {
    color: #23bf08
}

a.hover-info:hover,
a.hover-info:focus {
    color: #4285f4
}

a.hover-white:hover,
a.hover-white:focus {
    color: #fff
}

a.hover-dark:hover,
a.hover-dark:focus {
    color: #212529
}

a.hover-white-8:hover,
a.hover-white-8:focus {
    color: rgba(255, 255, 255, 0.8)
}

.mg-0 {
    margin: 0
}

.mg-0-force {
    margin: 0 !important
}

.mg-y-0 {
    margin-top: 0;
    margin-bottom: 0
}

.mg-y-0-force {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.mg-x-0 {
    margin-left: 0;
    margin-right: 0
}

.mg-x-0-force {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.mg-t-0 {
    margin-top: 0
}

.mg-r-0 {
    margin-right: 0
}

.mg-b-0 {
    margin-bottom: 0
}

.mg-l-0 {
    margin-left: 0
}

.mg-t-0-force {
    margin-top: 0 !important
}

.mg-r-0-force {
    margin-right: 0 !important
}

.mg-b-0-force {
    margin-bottom: 0 !important
}

.mg-l-0-force {
    margin-left: 0 !important
}

.mg-1 {
    margin: 1px
}

.mg-1-force {
    margin: 1px !important
}

.mg-y-1 {
    margin-top: 1px;
    margin-bottom: 1px
}

.mg-y-1-force {
    margin-top: 1px !important;
    margin-bottom: 1px !important
}

.mg-x-1 {
    margin-left: 1px;
    margin-right: 1px
}

.mg-x-1-force {
    margin-left: 1px !important;
    margin-right: 1px !important
}

.mg-t-1 {
    margin-top: 1px
}

.mg-r-1 {
    margin-right: 1px
}

.mg-b-1 {
    margin-bottom: 1px
}

.mg-l-1 {
    margin-left: 1px
}

.mg-t-1-force {
    margin-top: 1px !important
}

.mg-r-1-force {
    margin-right: 1px !important
}

.mg-b-1-force {
    margin-bottom: 1px !important
}

.mg-l-1-force {
    margin-left: 1px !important
}

.mg-2 {
    margin: 2px
}

.mg-2-force {
    margin: 2px !important
}

.mg-y-2 {
    margin-top: 2px;
    margin-bottom: 2px
}

.mg-y-2-force {
    margin-top: 2px !important;
    margin-bottom: 2px !important
}

.mg-x-2 {
    margin-left: 2px;
    margin-right: 2px
}

.mg-x-2-force {
    margin-left: 2px !important;
    margin-right: 2px !important
}

.mg-t-2 {
    margin-top: 2px
}

.mg-r-2 {
    margin-right: 2px
}

.mg-b-2 {
    margin-bottom: 2px
}

.mg-l-2 {
    margin-left: 2px
}

.mg-t-2-force {
    margin-top: 2px !important
}

.mg-r-2-force {
    margin-right: 2px !important
}

.mg-b-2-force {
    margin-bottom: 2px !important
}

.mg-l-2-force {
    margin-left: 2px !important
}

.mg-3 {
    margin: 3px
}

.mg-3-force {
    margin: 3px !important
}

.mg-y-3 {
    margin-top: 3px;
    margin-bottom: 3px
}

.mg-y-3-force {
    margin-top: 3px !important;
    margin-bottom: 3px !important
}

.mg-x-3 {
    margin-left: 3px;
    margin-right: 3px
}

.mg-x-3-force {
    margin-left: 3px !important;
    margin-right: 3px !important
}

.mg-t-3 {
    margin-top: 3px
}

.mg-r-3 {
    margin-right: 3px
}

.mg-b-3 {
    margin-bottom: 3px
}

.mg-l-3 {
    margin-left: 3px
}

.mg-t-3-force {
    margin-top: 3px !important
}

.mg-r-3-force {
    margin-right: 3px !important
}

.mg-b-3-force {
    margin-bottom: 3px !important
}

.mg-l-3-force {
    margin-left: 3px !important
}

.mg-4 {
    margin: 4px
}

.mg-4-force {
    margin: 4px !important
}

.mg-y-4 {
    margin-top: 4px;
    margin-bottom: 4px
}

.mg-y-4-force {
    margin-top: 4px !important;
    margin-bottom: 4px !important
}

.mg-x-4 {
    margin-left: 4px;
    margin-right: 4px
}

.mg-x-4-force {
    margin-left: 4px !important;
    margin-right: 4px !important
}

.mg-t-4 {
    margin-top: 4px
}

.mg-r-4 {
    margin-right: 4px
}

.mg-b-4 {
    margin-bottom: 4px
}

.mg-l-4 {
    margin-left: 4px
}

.mg-t-4-force {
    margin-top: 4px !important
}

.mg-r-4-force {
    margin-right: 4px !important
}

.mg-b-4-force {
    margin-bottom: 4px !important
}

.mg-l-4-force {
    margin-left: 4px !important
}

.mg-5 {
    margin: 5px
}

.mg-5-force {
    margin: 5px !important
}

.mg-y-5 {
    margin-top: 5px;
    margin-bottom: 5px
}

.mg-y-5-force {
    margin-top: 5px !important;
    margin-bottom: 5px !important
}

.mg-x-5 {
    margin-left: 5px;
    margin-right: 5px
}

.mg-x-5-force {
    margin-left: 5px !important;
    margin-right: 5px !important
}

.mg-t-5 {
    margin-top: 5px
}

.mg-r-5 {
    margin-right: 5px
}

.mg-b-5 {
    margin-bottom: 5px
}

.mg-l-5 {
    margin-left: 5px
}

.mg-t-5-force {
    margin-top: 5px !important
}

.mg-r-5-force {
    margin-right: 5px !important
}

.mg-b-5-force {
    margin-bottom: 5px !important
}

.mg-l-5-force {
    margin-left: 5px !important
}

.mg-6 {
    margin: 6px
}

.mg-6-force {
    margin: 6px !important
}

.mg-y-6 {
    margin-top: 6px;
    margin-bottom: 6px
}

.mg-y-6-force {
    margin-top: 6px !important;
    margin-bottom: 6px !important
}

.mg-x-6 {
    margin-left: 6px;
    margin-right: 6px
}

.mg-x-6-force {
    margin-left: 6px !important;
    margin-right: 6px !important
}

.mg-t-6 {
    margin-top: 6px
}

.mg-r-6 {
    margin-right: 6px
}

.mg-b-6 {
    margin-bottom: 6px
}

.mg-l-6 {
    margin-left: 6px
}

.mg-t-6-force {
    margin-top: 6px !important
}

.mg-r-6-force {
    margin-right: 6px !important
}

.mg-b-6-force {
    margin-bottom: 6px !important
}

.mg-l-6-force {
    margin-left: 6px !important
}

.mg-7 {
    margin: 7px
}

.mg-7-force {
    margin: 7px !important
}

.mg-y-7 {
    margin-top: 7px;
    margin-bottom: 7px
}

.mg-y-7-force {
    margin-top: 7px !important;
    margin-bottom: 7px !important
}

.mg-x-7 {
    margin-left: 7px;
    margin-right: 7px
}

.mg-x-7-force {
    margin-left: 7px !important;
    margin-right: 7px !important
}

.mg-t-7 {
    margin-top: 7px
}

.mg-r-7 {
    margin-right: 7px
}

.mg-b-7 {
    margin-bottom: 7px
}

.mg-l-7 {
    margin-left: 7px
}

.mg-t-7-force {
    margin-top: 7px !important
}

.mg-r-7-force {
    margin-right: 7px !important
}

.mg-b-7-force {
    margin-bottom: 7px !important
}

.mg-l-7-force {
    margin-left: 7px !important
}

.mg-8 {
    margin: 8px
}

.mg-8-force {
    margin: 8px !important
}

.mg-y-8 {
    margin-top: 8px;
    margin-bottom: 8px
}

.mg-y-8-force {
    margin-top: 8px !important;
    margin-bottom: 8px !important
}

.mg-x-8 {
    margin-left: 8px;
    margin-right: 8px
}

.mg-x-8-force {
    margin-left: 8px !important;
    margin-right: 8px !important
}

.mg-t-8 {
    margin-top: 8px
}

.mg-r-8 {
    margin-right: 8px
}

.mg-b-8 {
    margin-bottom: 8px
}

.mg-l-8 {
    margin-left: 8px
}

.mg-t-8-force {
    margin-top: 8px !important
}

.mg-r-8-force {
    margin-right: 8px !important
}

.mg-b-8-force {
    margin-bottom: 8px !important
}

.mg-l-8-force {
    margin-left: 8px !important
}

.mg-9 {
    margin: 9px
}

.mg-9-force {
    margin: 9px !important
}

.mg-y-9 {
    margin-top: 9px;
    margin-bottom: 9px
}

.mg-y-9-force {
    margin-top: 9px !important;
    margin-bottom: 9px !important
}

.mg-x-9 {
    margin-left: 9px;
    margin-right: 9px
}

.mg-x-9-force {
    margin-left: 9px !important;
    margin-right: 9px !important
}

.mg-t-9 {
    margin-top: 9px
}

.mg-r-9 {
    margin-right: 9px
}

.mg-b-9 {
    margin-bottom: 9px
}

.mg-l-9 {
    margin-left: 9px
}

.mg-t-9-force {
    margin-top: 9px !important
}

.mg-r-9-force {
    margin-right: 9px !important
}

.mg-b-9-force {
    margin-bottom: 9px !important
}

.mg-l-9-force {
    margin-left: 9px !important
}

.mg-10 {
    margin: 10px
}

.mg-10-force {
    margin: 10px !important
}

.mg-y-10 {
    margin-top: 10px;
    margin-bottom: 10px
}

.mg-y-10-force {
    margin-top: 10px !important;
    margin-bottom: 10px !important
}

.mg-x-10 {
    margin-left: 10px;
    margin-right: 10px
}

.mg-x-10-force {
    margin-left: 10px !important;
    margin-right: 10px !important
}

.mg-t-10 {
    margin-top: 10px
}

.mg-r-10 {
    margin-right: 10px
}

.mg-b-10 {
    margin-bottom: 10px
}

.mg-l-10 {
    margin-left: 10px
}

.mg-t-10-force {
    margin-top: 10px !important
}

.mg-r-10-force {
    margin-right: 10px !important
}

.mg-b-10-force {
    margin-bottom: 10px !important
}

.mg-l-10-force {
    margin-left: 10px !important
}

.mg-15 {
    margin: 15px
}

.mg-15-force {
    margin: 15px !important
}

.mg-y-15 {
    margin-top: 15px;
    margin-bottom: 15px
}

.mg-y-15-force {
    margin-top: 15px !important;
    margin-bottom: 15px !important
}

.mg-x-15 {
    margin-left: 15px;
    margin-right: 15px
}

.mg-x-15-force {
    margin-left: 15px !important;
    margin-right: 15px !important
}

.mg-t-15 {
    margin-top: 15px
}

.mg-r-15 {
    margin-right: 15px
}

.mg-b-15 {
    margin-bottom: 15px
}

.mg-l-15 {
    margin-left: 15px
}

.mg-t-15-force {
    margin-top: 15px !important
}

.mg-r-15-force {
    margin-right: 15px !important
}

.mg-b-15-force {
    margin-bottom: 15px !important
}

.mg-l-15-force {
    margin-left: 15px !important
}

.mg-20 {
    margin: 20px
}

.mg-20-force {
    margin: 20px !important
}

.mg-y-20 {
    margin-top: 20px;
    margin-bottom: 20px
}

.mg-y-20-force {
    margin-top: 20px !important;
    margin-bottom: 20px !important
}

.mg-x-20 {
    margin-left: 20px;
    margin-right: 20px
}

.mg-x-20-force {
    margin-left: 20px !important;
    margin-right: 20px !important
}

.mg-t-20 {
    margin-top: 20px
}

.mg-r-20 {
    margin-right: 20px
}

.mg-b-20 {
    margin-bottom: 20px
}

.mg-l-20 {
    margin-left: 20px
}

.mg-t-20-force {
    margin-top: 20px !important
}

.mg-r-20-force {
    margin-right: 20px !important
}

.mg-b-20-force {
    margin-bottom: 20px !important
}

.mg-l-20-force {
    margin-left: 20px !important
}

.mg-25 {
    margin: 25px
}

.mg-25-force {
    margin: 25px !important
}

.mb-4 {
    margin-top: 25px;
    margin-bottom: 25px
}

.mb-4-force {
    margin-top: 25px !important;
    margin-bottom: 25px !important
}

.mg-x-25 {
    margin-left: 25px;
    margin-right: 25px
}

.mg-x-25-force {
    margin-left: 25px !important;
    margin-right: 25px !important
}

.mg-t-25 {
    margin-top: 25px
}

.mg-r-25 {
    margin-right: 25px
}

.mg-b-25 {
    margin-bottom: 25px
}

.mg-l-25 {
    margin-left: 25px
}

.mg-t-25-force {
    margin-top: 25px !important
}

.mg-r-25-force {
    margin-right: 25px !important
}

.mg-b-25-force {
    margin-bottom: 25px !important
}

.mg-l-25-force {
    margin-left: 25px !important
}

.mg-30 {
    margin: 30px
}

.mg-30-force {
    margin: 30px !important
}

.mg-y-30 {
    margin-top: 30px;
    margin-bottom: 30px
}

.mg-y-30-force {
    margin-top: 30px !important;
    margin-bottom: 30px !important
}

.mg-x-30 {
    margin-left: 30px;
    margin-right: 30px
}

.mg-x-30-force {
    margin-left: 30px !important;
    margin-right: 30px !important
}

.mg-t-30 {
    margin-top: 30px
}

.mg-r-30 {
    margin-right: 30px
}

.mg-b-30 {
    margin-bottom: 30px
}

.mg-l-30 {
    margin-left: 30px
}

.mg-t-30-force {
    margin-top: 30px !important
}

.mg-r-30-force {
    margin-right: 30px !important
}