<img>
<div class="row">
    <div class="col-12">
        <div class="section-title mb-4 pb-2">
            <h2 class="mb-4">Nuestros <span class="font-weight-bold">Beneficios</span></h2>
            <p class="text-muted para-desc mb-0">It is a long established fact that a reader will be
                distracted by
                the readable content of a page when looking at its layout.</p>
        </div>
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="feature feature-transition p-4 py-5 shadow rounded text-center">
            <!-- <img src="cdn/images/charity/donation.svg" class="avatar avatar-small" alt=""> -->
            <h5 class="title mt-3">Ofertas Academicas</h5>
            <p class="text-muted">It is a long established fact that a reader will be of a page when
                reader will be
                of a page looking at its layout. </p>
            <a href="javascript:void(0)" class="text-dark">-- Acceder -- <i class="mdi mdi-chevron-right"></i></a>
        </div>
    </div><!--end col-->
    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="feature feature-transition p-4 py-5 shadow rounded text-center">
            <!-- <img src="cdn/images/charity/donation.svg" class="avatar avatar-small" alt=""> -->
            <h5 class="title mt-3">Comunidad Tecazuay</h5>
            <p class="text-muted">It is a long established fact that a reader will be of a page when
                reader will be
                of a page looking at its layout. </p>
            <a href="javascript:void(0)" class="text-dark">-- Acceder -- <i class="mdi mdi-chevron-right"></i></a>
        </div>
    </div><!--end col-->
    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="feature feature-transition p-4 py-5 shadow rounded text-center">
            <!-- <img src="cdn/images/charity/donation.svg" class="avatar avatar-small" alt=""> -->
            <h5 class="title mt-3">Reportes</h5>
            <p class="text-muted">It is a long established fact that a reader will be of a page when
                reader will be
                of a page looking at its layout. </p>
            <a href="javascript:void(0)" class="text-dark">-- Acceder -- <i class="mdi mdi-chevron-right"></i></a>
        </div>
    </div><!--end col-->
</div><!--end row-->


<div class="row justify-content-center">
    <div class="col-12">
        <div class="section-title text-center">
            <h4 class="title mb-4">Bolsa de Empleo</h4>
        </div>
    </div><!--end col-->
</div><!--end row-->

<div class="row align-items-center">
    <div class="col-lg-4 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="popular-course rounded-pill shadow position-relative overflow-hidden">
            <img src="cdn/images/lms/1.jpg" class="img-fluid" alt="">
            <div class="content p-3">
                <small><a href="javascript:void(0)" class="text-primary">Desarrollo Web</a></small>
                <h5 class="mt-2"><a href="javascript:void(0)" class="title text-dark">Desarrollo Web Angular</a>
                </h5>
                <p class="text-muted">The most well-known dummy text is the have originated in the 16th century.
                </p>
                <ul class="list-unstyled d-flex justify-content-between">
                    <li class="d-flex align-items-center">
                        <img src="assets/images/kitekat-8.png"
                            class="img-fluid avatar avatar-md-sm rounded-pill mr-2 shadow" alt="">
                        <small class="mb-0"><a href="javascript:void(0)"
                                class="text-dark h6 name mb-0">TECAZUAY</a></small>
                    </li>
                </ul>
                <ul class="footer-list px-0 list-unstyled d-flex justify-content-between border-top pt-3 mb-0">
                    <li class="text-muted small"><i data-feather="book" class="fea icon-sm text-info"></i>
                        Disponible</li>
                    <li class="text-muted small ml-3"><i data-feather="clock" class="fea icon-sm text-warning"></i>
                        Tiempo Completo
                    </li>
                    <li class="text-muted small ml-3"><i data-feather="eye" class="fea icon-sm text-primary"></i>
                        3012</li>
                </ul>
            </div>
        </div>
    </div><!--end col-->

    <div class="col-lg-4 col-md-6 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
        <div class="popular-course rounded-pill shadow position-relative overflow-hidden">
            <img src="cdn/images/lms/2.jpg" class="img-fluid" alt="">
            <div class="content p-3">
                <small><a href="javascript:void(0)" class="text-primary">Desarrolo Java</a></small>
                <h5 class="mt-2"><a href="javascript:void(0)" class="title text-dark">Spring Boot</a>
                </h5>
                <p class="text-muted">The most well-known dummy text is the have originated in the 16th century.
                </p>
                <ul class="list-unstyled d-flex justify-content-between">
                    <li class="d-flex align-items-center">
                        <img src="assets/images/kitekat-8.png"
                            class="img-fluid avatar avatar-md-sm rounded-pill mr-2 shadow" alt="">
                        <small class="mb-0"><a href="javascript:void(0)"
                                class="text-dark h6 name mb-0">TECAZUAY</a></small>
                    </li>
                </ul>
                <ul class="footer-list px-0 list-unstyled d-flex justify-content-between border-top pt-3 mb-0">
                    <li class="text-muted small"><i data-feather="book" class="fea icon-sm text-info"></i>
                        Disponible</li>
                    <li class="text-muted small ml-3"><i data-feather="clock" class="fea icon-sm text-warning"></i>
                        Tiempo Completo
                    </li>
                    <li class="text-muted small ml-3"><i data-feather="eye" class="fea icon-sm text-primary"></i>
                        3012</li>
                </ul>
            </div>
        </div>
    </div><!--end col-->


    <div class="col-12 mt-4 pt-2 text-center">
        <a href="javascript:void(0)" class="btn btn-pills btn-primary">Ver Mas Ofertas <i data-feather="arrow-right"
                class="fea icon-sm"></i></a>
    </div><!--end col-->
</div><!--end row-->