body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--white-color);
}

.text-light {
    color: var(--dark-x) !important;
    font-weight: bold;
}

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}

.form-control:focus {
    outline: none;
}

.img-1 {
    background-image: url('../../../../assets/imgs/bg/Estudiantes3.jpg');
    background-size: cover;
    background-position: center;
}